---
import PageLayout from '@/layouts/CommonPage.astro'

const headings = [
  { depth: 2, slug: 'intro', text: '介绍' },
  { depth: 2, slug: 'about-blog', text: '关于本站' }
]
---

<PageLayout title='关于' {headings}>
  <h2 id='intro'>介绍</h2>
  <p>
    家庭、学业、音乐——这是我目前最重视的三项。在把所有的注意力倾之于以上时，如果怠惰或者有余力，我会把挤出来的注意力献给：朋友、书籍、电影。
  </p>

  <h2 id='about-blog'>关于本站</h2>
  <ul>
    <li>框架：<a href='https://astro.build/' target='_blank'>Astro</a></li>
    <li>主题：<a href='https://github.com/cworld1/astro-theme-pure' target='_blank'>Astro Theme Pure</a></li>
    <li>托管：GitHub Pages</li>
  </ul>
</PageLayout>
