---
import { cn } from 'astro-pure/utils'

const { class: className, title } = Astro.props
---

<section class={cn('flex flex-col gap-y-3 md:flex-row md:gap-y-0 md:gap-x-6', className)}>
  <div class='shrink-0 text-xl font-medium md:w-48'>
    <h2>{title}</h2>
  </div>
  <div class='flex flex-1 flex-col gap-y-3 min-w-0'>
    <slot />
  </div>
</section>
