---
import type { MarkdownHeading } from 'astro'

import PageLayout from '@/layouts/ContentLayout.astro'
import SectionNav from '@/components/SectionNav.astro'

interface Props {
  title: string
  description?: string
  headings?: MarkdownHeading[]
}

const { title, description, headings, ...props } = Astro.props
---

<PageLayout meta={{ description, title }} {...props}>
  <SectionNav {title} {headings} slot='sidebar' />

  <Fragment slot='header'>
    <h1 class='text-2xl font-medium sm:mb-2 sm:text-3xl'>{title}</h1>
  </Fragment>

  <slot />

  <slot name='bottom' slot='bottom' />
  <slot name='bottom-sidebar' slot='bottom-sidebar' />
</PageLayout>
